.gameBoard {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 10px repeat(14, 50px) 10px;
  grid-template-rows: 10px repeat(9, 50px) 10px;
}

.borderPiece {
  background-color: black;
  border: 2px black solid;
}

.mainPiece {
  border: 1px black solid;
}

.playerLocation {
  background-color: greenyellow;
}

.food {
  background-color: red;
}
