.gameBoard {
  display: grid;
  grid-template-columns: 10px repeat(4, 50px) 10px;
  grid-template-rows: 10px repeat(5, 50px) 10px;
}

.borderPiece {
  background-color: black;
  border: 2px black solid;
}

.mainPiece {
  border: 1px black solid;
}

.playerLocation {
  background-color: greenyellow;
}
